.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    backdrop-filter: blur(0.8px);
}

.modal-wrapper {
    width: 580px;
    height: max-content;
    background-color: var(--black);
    border-radius: var(--radius-md);
    padding: 20px;
}

.modal-wrapper span{
    font-size: 14px;
}

.modal-wrapper label{
    font-size: 14px;
}

.modal-header {
    width: 100%;
}

.modal-icons {
    margin-inline-end: 15px;
    opacity: 0.8;
}

.modal-row {
    margin-bottom: 20px;
}

.modal-actions .primary-btn {
    flex: 0.48;
}

.event-chip-info-modal-container {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 330px;
    height: max-content;
    background-color: var(--black);
    z-index: 999999999;
    border-radius: var(--radius-md);
    box-shadow: var(--black) 0 0 10px;
    padding: 20px;
}

.event-chip-info-modal-title {
    font-size: 19px !important;
    font-weight: 600;
}

.event-chip-info-modal-desc {
    opacity: 0.9;
    font-size: 15px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--secondary);
    margin: 20px 0;
}

.event-chip-info-modal-container p{
    font-size: 13px;
}

.move-inf-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 230px;
    height: max-content;
    background-color: var(--primary);
    z-index: 9999999999999999;
    border-radius: var(--radius-md);
    padding: 10px;
}

.move-inf-modal span {
    font-size: 11px;
    margin-inline-end: 5px;
    margin-inline-start: 5px;
}

.reset-date-btn {
    margin-inline-start: 10px;
    min-height: 21px;
    min-width: 21px;
    background: #e9135a;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.drop-menu-container {
    position: absolute;
    width: 300px;
    padding: 15px;
    border-radius: 4px;
    background-color: #000;
    right: -8px;
    top: calc(100% + 15px);
    z-index: 9999;
}

.drop-menu-container .serrated {
    position: absolute;
    background-color: #000;
    top: -6px;
    right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    transform: rotate(45deg);
}

.drop-menu-container p {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
}

.drop-menu-container input {
    outline: none;
}

.drop-menu-container select {
    outline: none;
    color: #fff !important;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 700;
    padding: 0;
    width: 100%;
    height: 30px;
    margin-top: 6px;
}

.drop-menu-item {
    padding: 10px 5px;
    border-bottom: 1px #ddd solid;
}

.drop-menu-item:last-child {
    border: none;
}

.drop-menu-item p {
    margin-bottom: 6px;
}

.showmore-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999999999;
}

.showmore-box {
    width: 300px;
    height: max-content;
    background-color: #000;
    border-radius: 8px;
    padding: 20px;
}