@import './styles/index.css';

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #eaeaf8;
    /* text-align: center; */
    height: 100vh;
    margin: 0;
    padding: 0;
    user-select: none;
}

.my-page {
    padding: 40px;
    width: 100%;
}